*{
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	height: auto;
	background: url(../img/background-contact.png.) no-repeat center;
}

/*Обгортка*/
.wreaper{
	width: 960px;
	height: 1015px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 40px;
	border-radius: 7px;
	
}

/*Шапка сайту*/
.header-top{
	width: 100%;
	height: 100px;
	position: relative;
	background: url(../img/tel.png) no-repeat top right;

}

.logo{
	margin-top: 31px;
	margin-left: 40px;
	position: absolute;
}

/*Навігація сайту*/
.navigation{
	display: flex;
	justify-content: center;
	margin-left: 444px;


}

.header-menu{
    margin-top: 57px;
    padding-right: 26px;
}

.header-menu a{
    font: bold 12px 'Arial';
    color: #808080;
    text-decoration: none;
    padding:  7px 15px ;

}

.header-menu a:hover{
    border: 1px solid #00224b;
    border-radius: 6px;
    box-shadow: 0px 3px 3px;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0038a8+45,0073c0+84 */
    background: rgb(0,56,168); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,56,168,1) 45%, rgba(0,115,192,1) 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,56,168,1) 45%,rgba(0,115,192,1) 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,56,168,1) 45%,rgba(0,115,192,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0038a8', endColorstr='#0073c0',GradientType=0 ); /* IE6-9 */
}

/*Нижний хедер*/
.header-bottom{
	width: 100%;
	height: 84px;
	position: relative;
	
}



.about-header img{
	width: 100%;
	height: 84px;
	position: absolute;
	
}


.about-text p {
    color: #fff;
    position: absolute;
    font: italic 20px 'Arial';
    margin: 30px 0 0 451px;
}

/*Форма*/
.forma{
	width: 700px;
	height: 537px;

}

.text{
	width: 386px;
	height: 30px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
}

.textoblast{
	width: 386px;
	height: 162px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+29 */
background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.batton{
	width: 98px;
	height: 27px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	font: bold 12px 'Arial';
	color: #4f4f4f;
	margin-top: 18px;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+18,ededed+76 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 18%, rgba(237,237,237,1) 76%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 18%,rgba(237,237,237,1) 76%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 18%,rgba(237,237,237,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}


.batton:hover{
	cursor: pointer;
}

.registration form{
	margin: 28px 0 0 40px;
}

.registration p{
	color: #4f4f4f;
	margin-bottom: 14px;
}

.registration input{
	margin-bottom: 18px;
	padding-left: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+83 */
background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 83%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 83%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(255,255,255,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.registration textarea{
	padding: 3px 0 0 5px;
}


/*Правий сайдбар*/
.right-sidebar{
	width: 260px;
	height: 563px;
	float: right;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+1,ffffff+12 */
background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(left, rgba(237,237,237,1) 1%, rgba(255,255,255,1) 12%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(237,237,237,1) 1%,rgba(255,255,255,1) 12%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(237,237,237,1) 1%,rgba(255,255,255,1) 12%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.right-company{
	margin-top: 38px;
}
.right-contact{
	margin-top: 10px;
}

.right-connect{
	margin-top: 10px;
}

.companu{
	display: flex;
	flex-direction: column;
	margin: 12px 0 0 21px;
}

.comp p{
	margin-bottom: 10px;
	color: #4f4f4f;
	font: 13px 'Arial';

}

.contakt{
	display: flex;
	flex-direction: column;
	margin: 12px 0 0 21px;
}

.con p{
	margin-bottom: 10px;
    color: #4f4f4f;
    font: 13px 'Arial';
}

.connect-icons{
	display: flex;
	flex-direction: row;
	margin: 12px 0 0 20px;
}

.conneicons img{
	margin-right: 10px;
}



/*Футер*/
.footer{
	width: 100%;
	height: 263px;
	background: #ededed;
	border-top: 1px solid #bababa ;
	border-radius: 0 0 7px 7px;

}

.footer hr{
	color: #fff;
	margin-top: 8px;
}

.list{
	display: flex;
	justify-content: flex-start;
	margin: 20px 0 0 42px;
}

.spisok ul{
	margin-left: 110px;
	margin-top: 18px;
	
}

.spisok li{
	list-style-type: none;
	font: 10px 'Arial';
	color: #585858; 

}

.li{
  padding-bottom: 3px;"
}

.li-bottom{
	padding-bottom: 5px;
}


.spisok span{
	color: #0f4db6;
	font: bold 10px 'Arial';
}

.spisok a{
	text-decoration: none; 
	font: 13px 'Arial';
	color: #585858;

}

.spisok a:hover{
	color: #0f4db6;
}

.spisok p{
	font: bold 13px 'Arial';
	margin-left: 110px;
	color: #585858;
}

.spisok h4{
	margin-bottom: 18px;
	color: #585858;
}

.copyright{
	display: flex;
	justify-content: flex-start;
	 
}


.copyright-bussiness p{
    color: #4f4f4f;
    font: 11px 'Arial';
    margin: 40px 0 0 42px ;
}

.sety{
 display: flex;
 justify-content: flex-end;
 margin-bottom: 20px;
}

.sety-b{
	margin: 38px 0 0 226px;
}

.sety-bb{
	margin: 38px 0 0 85px;
}